body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 4fr 1fr;
}
navbar{
    background-color: white ;
    grid-area: 1 / 1 / 2 / 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}
.logo{
    display: flex;
   font-size: 3em;
   line-height: 0.9em;
}
.logo a{
         text-decoration: none;
         color: rgb(0, 0, 0);
   }
    .logo a:hover{
         -webkit-text-stroke: 2px rgb(0, 0, 0);
          color:transparent;
          letter-spacing: 0.03em;
         transition-duration: 0.3s;
    }

    .navbar{
    font-size: 3em;
    }
    ul{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    gap:20px;
    margin: 0;
    }
    ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    #active a{
        -webkit-text-stroke: 3px black;
        color:transparent;
        letter-spacing: 0.05em;
    }
    ul li a:hover{
        -webkit-text-stroke: 3px black;
        color:transparent;
        letter-spacing: 0.05em;
        transition-duration: 0.3s;
    }
    ul li{
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: skewY(10deg);
        list-style: none;
    }

main{
    padding:0px 100px 0px 50px;
    background-image: url('../images/Red-and-black-background-picture-free-wallpaper.png');
    background-size: cover;
    background-position: center;
     grid-area: 2 / 1 / 3 / 2;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}
.about-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color:rgb(248, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}
.about-section h1{
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    margin-top: 30px;
}
.about-section h1{
    animation:redGlow 3.5s infinite alternate;
}
.about-section h1:hover{
    animation-play-state:running;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: transparent;
    letter-spacing: 0.05em;
}
@keyframes redGlow{
    from{
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.5), 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.5);
    }
    to{
        text-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 0, 0, 1);
    }
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.btn{
    border:none;
    background-color: transparent;
    color:white;
    font-size: 0.8em;
     cursor: pointer;
}
.hire-me{
     border:2px solid red;
    background-color: red;
    border-radius: 10px;
    padding: 10px 20px;
   
}
.cv{
    border:2px solid rgb(248, 244, 244);
    border-radius: 10px;
    padding: 10px 20px;
}
.details{
    grid-area: 3 / 1 / 4 / 2;
    background-color: black;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    margin:0 50px;
}
.card{
    background: rgba(255, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    padding: 20px;
    margin-bottom: 80px;
    animation:displayCard 5s ease-in-out;
}
@keyframes displayCard{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.card span{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
}
.card img{
    margin-right: 20px;
}
@media (max-width: 1266px){
    .photo img{
        display: none;
    }
}
@media (max-width: 998px){
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-section{
        text-align: center;
        align-items: center;
    }
    .buttons{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 80%;
    }
    .cards{
        justify-content: center;
    }
    .navbar{
        font-size: 2em;
    }
    .logo{
        font-size: 2em;
    }
      container{
        grid-template-rows: 10% 100% 1fr;
    }
}
@media (max-width: 680px){
    .navbar{
        font-size: 1.2em;
        padding: 10px 10px 0px 10px;
    }
    ul li{
        transform: none;
    }
    .logo{
        font-size: 1.2em;
    }
    .about-section{
        font-size: 1.2em;
    }
    .about-section h1{
        font-size: 2em;
    }

}
@media (max-width: 480px){
   .navbar{
    display: none;
    }
   
   .logo{
    font-size: 1.5em;
    align-self: center;
   }
}
