body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background: linear-gradient(to right, #a7a7e9,#2e159c); */
    background: linear-gradient(to right, #181818,#d1d0d4);
}
container{
    height: 100vh;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
logo{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.logo{
   font-size: 4em;
   padding-left: 25px;
   padding-bottom: 20px;
   line-height: 0.9em;
   position: fixed;
}
  .logo a{
         text-decoration: none;
         color: rgb(255, 255, 255);
   }
   .logo a:hover{
       -webkit-text-stroke: 2px rgb(255, 255, 255);
        color:transparent;
        letter-spacing: 0.03em;
       transition-duration: 0.3s;
   }
navbar{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}
.navbar{
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-start;
    font-size: 13em;
    text-align: right;
    padding-top:60px;
    padding-right: 30px;
    ul{
        margin: 0;
        padding: 0;
    }
    ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    }
    ul li a:hover{
        -webkit-text-stroke: 3px black;
        color:transparent;
        letter-spacing: 0.05em;
        transition-duration: 0.3s;
    }
    ul li{
         transform: skewY(20deg);
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
@media (max-width: 997px){
    container{
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
    }
    logo{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .logo{
        font-size: 3em;
        padding: 0;
        position: static;
    }
    navbar{
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .navbar{
        font-size: 7em;
        padding: 0;
        padding-top: 20px;
        text-align: center;
    }
}
@media (max-width: 600px){
    .navbar{
        font-size: 5em;
    }
}
@media (max-width: 350px){
    .navbar{
        font-size: 3em;
    }
}

